// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
}

li {
    list-style: none;
}

dl {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.container-fluid {
    padding: 0 $font-size-base;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    padding: 0;
}

button[aria-expanded="false"].btn-category img {
    transition: transform 0.3s;
    transform: rotate(0);
}

button[aria-expanded="true"].btn-category img {
    transition: transform 0.3s;
    transform: rotate(180deg);
}

.navbar {
    &-toggler {
        border: none;
        padding: 0;
    }

    &-toggler:focus {
        box-shadow: none;
    }

    &-toggler-icon {
        width: 2.5rem;
        background-image: url("../../dist/images/common/btn_hambuger.svg");
    }

    &-expand-lg {
        height: 64px;
        padding: 0;
    }
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
    color: #2d2d2d;
}

.nav-item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #2d2d2d;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.btn-close {
    font-size: 2rem;
    opacity: 1;
}

.contact {
    a {
        font-size: 1.4rem;
    }
}

.share {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background-color: #fafafa;
    }
}

.carousel {
    &-caption>h2 {
        font-size: 2.2rem;
    }

    &-caption {
        padding: 0;
        left: auto;
        right: 8%;
        top: 50%;
        bottom: auto;
        transform: translateY(-35%);

        &>span {
            display: inline-block;
            width: 4rem;
            margin-bottom: 0.5em;
        }
    }

    &-indicators {
        margin-bottom: 0.5rem;
    }

    &-indicators [data-bs-target] {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5em;
    }

    &-indicators .active {
        opacity: 1;
        background-color: $black;
    }

    &-control-prev,
    &-control-next {
        width: 7%;
    }

    &-control-prev-icon,
    &-control-next-icon {
        width: 2.4rem;
        height: 4.8rem;
    }

    &-control-prev-icon {
        background-image: url("../../dist/images/common/btn_slide_prev.svg");
    }

    &-control-next-icon {
        background-image: url("../../dist/images/common/btn_slide_next.svg");
    }
}

.footer {
    font-size: 1.2rem;
}

.breadcrumb {
    &-item.active {
        font-weight: 600;
    }
}

.changeViewBtn {
    &+span {
        opacity: 1;
    }

    &.active+span {
        opacity: 0;
    }
}

.swiper.myNoteSlide {

    &.active {
        margin: 0;
    }

    &.active .swiperType_01 {
        padding-bottom: 0;
    }

    &.active .swiper-wrapper {
        flex-wrap: wrap;
    }

    &.active .swiper-slide {
        margin-bottom: 1rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

.swiperType_01 {
    margin: 0 1.8rem;
    padding-bottom: 4rem;


    .photo {
        max-width: 12rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0;
    }

    .swiper-pagination-bullet-active {
        background: $black;
    }

    dt {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    dd {
        font-size: 1.2rem;
        color: #848484;
    }
}

.swiperType_02 {
    margin: 0 1.8rem;

    .title-area {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 13rem;
        background: rgba(236, 236, 236, 0.3);
        border: 1px solid rgba(132, 132, 132, 0.3);
    }

    dt {
        font-size: 1.6rem;
    }

    dd {
        font-size: 1.2rem;

        a {
            text-decoration: underline;
        }
    }
}

.swiperType_card {
    margin: 0 1.8rem;

    .card {
        overflow: hidden;
    }

    .photo {
        max-height: 30rem;
        background: #d9d9d9;

        img {
            width: 100%;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        min-height: 19rem;
        background: #999;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0;
    }

    .swiper-pagination-bullet-active {
        background: $black;
    }

    dt {
        font-size: 1.6rem;
    }

    dd {
        font-size: 1.2rem;
    }

    dd:last-child {
        margin-top: auto;
    }
}

.swiperType_thumb {
    overflow: hidden;
    padding: 0 1.8rem;

    .thumb-area {
        display: block;
    }

    .photo {
        max-width: 12rem;
        border-radius: 3px;
        overflow: hidden;
    }

    dt {
        font-size: 1.6rem;
        font-weight: bold;
        color: #2d2d2d;
    }

    dd {
        font-size: 1.2rem;
        color: #848484;
    }
}

// Common End
//
//
//
//
//

// Mobile Start
@include media-breakpoint-down(lg) {
    .nav-item {
        padding: 1em 0.5em;
        border-bottom: 1px solid #e2e2e2;
    }

    .carousel {
        &-indicators {
            right: 5%;
            left: auto;
            margin-right: 0;
        }

        &-indicators [data-bs-target] {
            width: 0.6rem;
            height: 0.6rem;
            margin: 0 0.25em;
        }

        &-caption {
            transform: translateY(-50%);
        }
    }

    .menu-list {
        background: #f9f9f9;
        padding: 0 1.8rem;

        li {
            border-bottom: 1px solid #e2e2e2;
            padding: 1rem 0;

            a {
                color: #343745;
                font-weight: bold;
                text-decoration: none;
            }

            &:last-child {
                border: none;
            }
        }

        .depth {
            display: none;
        }
    }
}

// desktop
@include media-breakpoint-up(lg) {

    .navbar-nav .show>.nav-link,
    .navbar-nav .nav-link.active {
        color: $blue;
    }

    .nav-item.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.6rem;
        background: $blue;
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        margin: 0 0 0 3.6rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: $font-size-base;
        color: $blue;
    }

    .navbar-expand-lg .offcanvas {
        height: 6.4rem !important;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        height: 100%;
    }

    .navbar-expand-lg .offcanvas .offcanvas-end {
        height: 6.4rem;
        padding: 0;
    }

    .carousel {
        &-caption>h2 {
            font-size: 4.8rem;
        }
    }

    .footer {
        &-menu {
            width: 32rem;

            img {
                transform: rotate(-90deg);
            }
        }
    }

    .swiper.myNoteSlide {
        margin: 0 8rem;
        overflow: visible;



        &.active .swiper-slide {
            margin-bottom: 4rem;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
            transform: translateY(-50%);
        }

        &.active .swiper-button-prev,
        &.active .swiper-button-next {
            display: none;
        }

        .swiper-button-prev {
            left: -5rem;
        }

        .swiper-button-next {
            right: -5rem;
        }
    }

    .swiperType_01 {
        overflow: hidden;


        .photo {
            max-width: 250px;
        }

        dt {
            font-size: 24px;
        }

        dd {
            font-size: 18px;

            a {
                font-size: 16px;
            }
        }
    }

    .menu-list {
        position: relative;
        background: #fff;
        font-weight: normal;
        line-height: 1;
        border-top: 1px solid #e2e2e2;
        transition: height 0.3s ease-in-out;

        &.active {
            height: 150px;
        }

        &>ul {
            margin-top: 1rem;
            border-top: 1px solid #e2e2e2;
            padding: 3rem 0 1rem 0;
        }

        &>ul>li {
            padding: 0.2rem 0;
            margin-right: 3rem;
            padding-right: 3rem;
            border-right: 1px solid #c6c6c6;

            a {
                display: block;
                color: #343745;
                font-size: 1.8rem;
                font-weight: normal;
                text-decoration: none;
            }

            &:last-child {
                border: none;
            }

            &.active>a {
                position: relative;
                color: $primary;
                font-weight: bold;
            }

            &.active>a::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1rem;
                width: 100%;
                height: 0.3rem;
                background: $primary;
            }

            span {
                display: none;
            }

            & a+.depth {
                visibility: hidden;
                height: auto;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 100px;
                z-index: 10;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                display: inline-flex;
            }

            &.active a+.depth {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .depth ol {
        height: inherit;
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: 3rem;
        padding-right: 3rem;
        border-right: 1px solid #c6c6c6;

        &:last-child {
            border: none;
        }

        li {
            list-style: none;
            margin-right: 3rem;
            line-height: 1.2;

            &:last-child {
                margin-right: 0;
            }

            &:hover,
            &.active {
                color: $primary;
                font-weight: bold;
            }
        }
    }

    .pc-category {
        position: relative;
        height: 55px;
        line-height: 1;

        li {
            a {
                display: block;
                font-weight: normal;
                margin-right: 1.5rem;
                padding-right: 1.5rem;
                border-right: 1px solid #c6c6c6;
            }

            &:last-child a {
                border: none;
                padding-right: 0;
                margin-right: 0;
            }

            &.active a {
                font-weight: bold;
            }

            .addSearchBtn {
                opacity: 1;
                transition: all 0.3s ease-in-out;

                &.active {
                    position: absolute;
                    right: 0;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }

        .search-wrap {
            width: 0;
            opacity: 0;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease-in-out;

            &.active {
                width: 45rem;
                opacity: 1;
            }

            & input {
                width: 100%;
                height: 4rem;
                border: none;
                background: #f6f6f6;
                border-radius: 5px;
                padding: 0 1rem;
            }

            button {
                position: absolute;
                right: 0.5rem;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);
                text-decoration: none;
                font-weight: bold;
                width: 80px;
            }
        }
    }

    .swiperType_02 {
        .title-area {
            min-height: 15rem;
        }

        dt {
            font-size: 2rem;
        }

        dd {
            font-size: 1.6rem;
        }
    }

    .swiper.thumbNailSlide {
        padding-top: 8px;
        border-top: 1px solid #e2e2e2;
    }

    .swiperType_thumb {
        border-top: 1px solid #e2e2e2;
        padding-top: 3.6rem;

        .swiper-slide {
            border-right: 1px solid #e2e2e2;
        }

        .photo {
            max-width: 14.5rem;
        }

        dt {
            font-size: 3.2rem;
            letter-spacing: -1px;
        }

        dt+dd {
            font-weight: bold;
        }

        dd {
            font-size: 1.6rem;
        }
    }
}