// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";


.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1440px;
    padding: 0;
}

.navbar {
    &-toggler {
        border: none;
    }

    &-toggler:focus {
        box-shadow: none;
    }

    &-toggler-icon {
        background-image: url("../../dist/images/common/btn_hambuger.svg");
    }
}